# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

# Virtualenv
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment Variables
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
